.container {
    width: 100%;
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.box-container {
    border: 5px solid;
    width: 300px;
    min-height: 400px;
    display: grid;
    grid-template-columns: repeat(2, 1fr); 
    grid-template-rows: repeat(2, 1fr);
    gap: 20px; 
    padding: 10px;
}

.list {
    height: 60px;
    color: black;
    display: flex;
    align-items: center;
    justify-content: center;
    border: solid 5px;
    cursor: pointer;
}
