.container {
    display: flex;
    text-align: center;
    border: solid;
    height: 50vh;
    width: 50vh;
}

.box-left, .box-right{
    border: solid 5px;
    height: 40px;
    margin-top: 50%;
    border-radius: 20%;
    cursor: pointer;
    align-items: center;
}

.box-left{
    margin-left: auto;
    flex: 1;
}

.box-right{
    margin-right: auto;
    flex: 1;
}
