body {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: hsl(0, 0%, 78%);
}

#myH1{
    font-size: 2rem;
    font-family: "Arial", sans-serif;
    color: hsl(0, 0%, 20%);
}

#container{
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 5px solid;
    border-radius: 50px;
    padding: 30px;
    background-color: hsl(0, 0%, 100%);
}

#timer{
    font-size: 5rem;
    font-family: monospace;
    font-weight: bold;
    color: hsl(0, 0%, 20%);
    text-shadow: 2px 2px 2px hsl(0, 0%, 0.75%);
    margin-bottom: 25px;
}

#button-container button{
    font-size: 1.5rem;
    font-weight: bold;
    padding: 10px 20px;
    margin: 2px;
    min-width: 125;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    color: white;
    transition: background-color 0.5s ease;
}

#startButton{
    background-color: hsl(110, 100%, 40%);
}

#startButton:hover{
    background-color: hsl(110, 100%, 30%);

}

#stopButton{
    background-color: hsl(0, 100%, 50%);
}

#stopButton:hover{
    background-color: hsl(0, 100%, 40%);
}

#resetButton{
    background-color: hsl(39, 100%, 50%);
}

#resetButton:hover{
    background-color: hsl(39, 100%, 40%);

}