body, html{
    height: 100%;
    margin: 0;
    display:grid;
    justify-content: center;
    align-items: center;
    font-family: Verdana;
    text-align: center;
}
.container {
    text-align: center;
}
#myLabel2{
    border: 10px;
    font-size: 10em;
    padding: 15px;
    border-radius: 10px;
}
#myLabel{
    border: 10px;
    font-size: 10em;
    padding: 15px;
    border-radius: 10px;
}
#myButton{
    font-size: 4em;
    padding: 15px 40px;
    border-radius: 20px;
    cursor: pointer;
    background-color: rgb(93, 90, 237);
}
#myButton:hover{
    background-color: rgb(41, 38, 213);
}