.myBtn{
    font-size:4rem;
    margin: 10px;
    border: none;
    border-radius: 5px;
    padding: 10px 15px;
}

.enabled{
    background-color: blueviolet;
    color: white;
}

.hover{
    box-shadow: 0 0 10px gey;
    font-weight: bold;
}

.disabled{
    background-color: grey;
    color: grey;
}